body{
  margin: 0%;
  padding: 0%;
  background-color:rgb(223, 235, 248);
}
.border-side-warning{
  border-left: 5px solid #ffce32;
}
.border-side-primary{
  border-left: 5px solid #3292ff;
}
.border-side-danger{
  border-left: 5px solid #ff4a32;
}
.cat-item{
  cursor: pointer;
  padding: 5px;
  color: #3292ff;
}
.product-item{
  text-decoration: none !important; 
  
}
.product-price{
  font-weight: bold;
  font-size: xx-large;
  font-family: monospace;
  text-decoration: none; 
}
.product-title{
  font-weight: bold;
  font-family: monospace;
  color: rgba(41, 41, 41, 0.5);
  text-decoration: none; 
}
.product-desc{
  color: rgb(80 80 80);
  text-decoration: none; 
}