body{
  margin: 0%;
  padding: 0%;
  background-color:rgb(223, 235, 248);
}
.border-side-warning{
  border-left: 5px solid #ffce32;
}
.border-side-info{
  border-left: 5px solid #17a2b8;
}
.border-side-primary{
  border-left: 5px solid #3292ff !important;
}
.border-side-danger{
  border-left: 5px solid #ff4a32;
}
.cat-item{
  cursor: pointer;
  padding: 5px;
  color: #3292ff;
}
.product-item{
  text-decoration: none !important; 
  
}
.product-price{
  font-weight: bold;
  font-size: xx-large;
  font-family: monospace;
  text-decoration: none; 
}
.product-title{
  font-weight: bold;
  font-family: monospace;
  color: rgba(41, 41, 41, 0.5);
  text-decoration: none; 
}
.product-desc{
  color: rgb(80 80 80);
  text-decoration: none; 
}


.carousel-img-indicators{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: inline-block;
}
.carousel-img-indicators li{
 text-decoration: none; display: inline;
}
.carousel-img-indicators>li>img{
  float: left;
  width: 10%;
  height: 10%;
  object-fit: scale-down;
}

.b-edge-shadow {
	-webkit-box-shadow: 0px 15px 10px -15px rgb(129, 127, 127);
	   -moz-box-shadow: 0px 15px 10px -15px rgb(110, 110, 110);
     box-shadow: 0px 15px 10px -15px rgb(102, 102, 102);
}
.jcc{
  display: flex;
  justify-content: center;
}
.jcb{
  display: flex;
  justify-content: space-between;
}
.ag-row{
  width: 100%;
}
/* .sell-btn{
  
} */
/* .carousel{
  min-height: 350px;
  vertical-align: middle;
} */
.ag-theme-alpine{
  width: 100%;
  height: 500px;
}
.bold{
  font-weight: bold !important;
}
.bolder{
  font-weight: bolder !important;
}
.op-100{
  background: transparent !important;
  background-color: transparent !important;
}
.bg-gradient-primary{
  color: rgb(236, 234, 234);
}
.bg-gradient-primary:hover{
  color: white;
}
.callout-primary{
  border-left: 5px solid #3292ff !important;
}
